<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../public/images/fridge.png">
    <!-- Bootstrap core CSS -->
    <link href="../../public/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../../public/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href='https://fonts.googleapis.com/css?family=Gochi Hand' rel='stylesheet'>
    <link href= "../../public/stylesheets/results.css" rel = "stylesheet">
    <title>Adding Food</title>
    <style>
    body{
        font-family: 'Gochi Hand';
        font-size: 22px;
        color: #ffffff ;
        margin-left: 22px ;
    }
    </style>
</head>
<body background = "../../public/images/woodBackground.png">
<h3>New Food</h3>

<form id = "form1" action = "/addNew">
    <div class = "row">
        <label style = "margin: 10px">Name of Food:</label>
        <input type = "text" style = "color: #000000" name = "name" id = "name">
    </div>
    <div class = "row">
        <label style = "margin: 10px">Expiration Date:</label>
        <input type = "date" style = "color: #000000" name = "date" id = "date">
    </div>
</form>

<div class = "row">
    <button style = "margin-left: 10px" id = "submitButton" class = "btn btn-lg btn-default">Add to Fridge</button>
    <a href = "/results"><button class = "btn btn-lg btn-default" id = "switchButton">See your fridge</button></a>
</div>

<script>
    document.getElementById("submitButton").addEventListener("click", submitForm);

    function submitForm(){
        document.getElementById("form1").submit();
    }
</script>
</body>
</html>