<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="../../public/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../../public/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../pubb/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>Home</title>
</head>
<body style = "margin:10px">
<h3>Input new food</h3>

<form id = "form1" action = "/addNew">
    <div class = "row">
        <label style = "margin: 10px">Name of Food:</label>
        <input type = "text" name = "name" id = "name">
    </div>
    <div class = "row">
        <label style = "margin: 10px">Expiration Date of Food:</label>
        <input type = "date" name = "date" id = "date">
    </div>
</form>

<div class = "row">
    <button style = "margin-left: 10px" class = "btn btn-success">Submit</button>
    <button  class = "btn btn-info" id = "switchButton">Switch to Other Page</button>
</div>

<script>
    document.getElementById("switchButton").addEventListener("click",switchPages);
    document.getElementById("submitButton").addEventListener("click", submitForm);

    function switchPages(){
        document.getElementById("otherPageForm").submit();
    }
    function submitForm(){
        document.getElementById("form1").submit();
    }
</script>
</body>
</html>